ul {
  list-style: none;
}

.content-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.spinner {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}