/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

html,
body {
  background-color: #303030;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  overflow: overlay;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  user-drag: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: hsl(0, 0%, 60%);
  &:hover {
    background-color: hsl(0, 0%, 70%);
  }
}

.mat-drawer-container.mat-sidenav-container.main-content,
.mat-drawer-content.mat-sidenav-content,
.mat-drawer-backdrop {
  height: 100%;
}

.content-container {
  margin: 0 auto;
  width: 1100px;
}

*:not(input, body, html, head, ::-webkit-scrollbar) {
  overflow: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}