* {
  width: 100%;
  word-break: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.card {
  width: 310px;
  height: 440px;
}

.card-author-avatar {
  background-image: url('/assets/user-icon.png');
  background-size: cover;
}

.card-content {
  margin-top: 10px;
}

.card-image {
  width: 310px;
  height: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-author {
  margin-bottom: 10px;
}