<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="card-author-avatar"></div>
    <mat-card-title class="card-title">{{article.title}}</mat-card-title>
    <mat-card-subtitle class="card-author">{{article.user.username}}</mat-card-subtitle>
  </mat-card-header>
  <a [routerLink]="'/articles/' + article._id">
    <div class="card-image" [style]="cardImageStyle" alt="Photo of a Shiba Inu"></div>
    <mat-card-content class="card-content">{{article.summary}}</mat-card-content>
  </a>
  <mat-card-actions class="card-actions" *ngIf="isOwner">
    <a [routerLink]="'/articles/edit/' + article._id"><button mat-button>EDIT</button></a>
    <a [routerLink]="'/articles/delete/' + article._id"><button mat-button>DELETE</button></a>
  </mat-card-actions>
</mat-card>