<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="card-author-avatar"></div>
    <mat-card-title>{{article.user.username}}</mat-card-title>
    <mat-card-subtitle>Author/User</mat-card-subtitle>
  </mat-card-header>
  <a routerLink="/">
    <div class="card-image" [style]="getImageStylings()"  alt="Photo of a Shiba Inu"></div>
    <mat-card-content class="card-content">
      <p>
        {{article.title}}
      </p>
    </mat-card-content>
  </a>
  <mat-card-actions class="card-actions">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
