.wrapper {
  height: 100%;
  min-height: 100vh;
}

.spinner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-sidenav-container {
  min-height: 100vh;
}