.header-toolbar {
  height: 74px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  flex: 0 0 400px;

  svg {
    width: 200px;
    font-size: 0;
  }
}

.nav-middle {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 400px;
}

.nav {
  .nav-link {
    margin: 5px 3px 0 3px;
    line-height: 40px;
  }

  .nav-link-title {
    padding: 0 10px;
  }
}